node-red flow reading from InfluxDB 20 cloud.txt
[{"id":"f534e263.9b337","type":"influxdb in","z":"80c28b37.e04f48","influxdb":"e3bf80de.26fa5","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":400,"y":200,"wires":[["f16da9e0.3e07f8","3d737aed.746f16"]]},{"id":"bb3c144a.2e84d8","type":"inject","z":"80c28b37.e04f48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["ba4607e8.e367c8"]]},{"id":"ba4607e8.e367c8","type":"function","z":"80c28b37.e04f48","name":"","func":"msg.query=\n'from(bucket: \"LITERS\")'+  \n    '|> range(start:-1m)'+   \n    '|> filter(fn: (r) => r[\"_measurement\"] == \"mem\")'+\n    '|> filter(fn: (r) => r[\"_field\"] == \"liters\")   '+\n    '|> filter(fn: (r) => r[\"host\"] == \"host1\")   '+\n    '|> yield(name: \"mean\")'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["f534e263.9b337"]]},{"id":"f16da9e0.3e07f8","type":"debug","z":"80c28b37.e04f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"3d737aed.746f16","type":"function","z":"80c28b37.e04f48","name":"","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["2088374c.883358"]]},{"id":"b82f52e8.aba07","type":"debug","z":"80c28b37.e04f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"2088374c.883358","type":"function","z":"80c28b37.e04f48","name":"","func":"var a = msg.payload;\nmsg.payload=a._value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["b82f52e8.aba07"]]},{"id":"e3bf80de.26fa5","type":"influxdb","z":"80c28b37.e04f48","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PORT","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://eu-central-1-1.aws.cloud2.influxdata.com","rejectUnauthorized":true}]